{% extends 'base.html.twig' %}

{% block body %}

<style>


form
{
  margin : 5px;
}
</style>


<div class="main">

BDD_PERSO_ULB {{ AllUnitAsc | length  }} enregistrements
</br>
Inventaire {{ AllZFacAsc | length  }} enregistrements 
</br>
</br>


{# ***********    BOUTON      MISE    A      JOUR      INVENTAIRE   **********#}
    <form action="MaJ_Unit_Zfac_Liste_REQUETE" method="post">
             <input type="hidden" value="" name="Unit">
             <button type="submit" name="Unit"  value="" class="btn btn-outline-success" btn-sm"
             >  Mettre  &agrave; jour inventaire </button>
             </form>



  <form action="excelZFac" method="post">
      <button formaction="excelZFac" class="btn btn-outline-secondary btn-sm"> Exporter ZFac inventaire </button>
  </form>





{# ***********        AFFICHAGE        LISTE       UNITES      **********#}
<table class="table table-hover">
 <th colspan="2">BDD_PERSO_ULB</th>
<caption>   BDD_PERSO_ULB </caption
  <tr>
    <th> IDUNIT </th>
    <th> IDUNIT_TXT </th>

  </tr>

     {% for Unit in AllUnitAsc %}
  <tr>

  <td>{{  Unit.IDUNIT}}  </td>
    <td>{{  Unit.IDUNITTXT}}  </td>
  
 </tr>
 {%  endfor %}
</table>







{# ***********        AFFICHAGE        LISTE     ZFAC     **********#}

<table class="table table-hover">
<th colspan="2">Inventaire</th>
<caption>   Inventaire </caption
  <tr>
    <th> Fac </th>
    <th> Faculte </th>

  </tr>

     {% for ZFac in AllZFacAsc %}
  <tr>

  <td>{{  ZFac.Fac}}  </td>
    <td>{{  ZFac.Faculte}}  </td>
  
 </tr>
 {%  endfor %}
</table>






</div>
{% endblock %}